<p>
  <strong>Rating:</strong>
  <%= review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= review.comment %>
</p>

<p>
  <strong>Reviewer:</strong>
  <%= User.find(review.user_id).email %>
</p>
